.admin-layout-content {
    margin: 0 16px;
    overflow: initial;
    flex: 1 1 0;
    min-height: auto;
}

.admin-content-bread {
    margin: 12px 0px;
}

.admin-normal-content {
    padding: 24px;
    background: #fff;
    min-height: 280px;
}

.control-container button{
    margin-right: 10px;
}
.viewBtn{
    color: #fff;
    background-color: #00a65a;
    border-color: #008d4c;
}

.viewBtn:hover, .viewBtn:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    box-shadow: none;
    opacity: .85;
}


.updateBtn{
    color: #fff;
    background-color: #f39c12;
    border-color: #e08e0b;
}

.updateBtn:hover, .updateBtn:focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
    box-shadow: none;
    opacity: .85;
}


.delBtn{
    color: #fff;
    background-color: #dd4b39;;
    border-color: #dd4b39;;
}

.delBtn:hover, .delBtn:focus {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    box-shadow: none;
    opacity: .85;
}
