.admin-layout-content {
    margin: 0 16px;
    overflow: initial;
    flex: 1 1 0;
    min-height: auto;
}

.admin-content-bread {
    margin: 12px 0px;
}

.admin-normal-content {
    padding: 24px;
    background: #fff;
    min-height: 280px;
}
